html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 0px 0px; /*atas-bawah kiri-kanan*/
    padding: 0;
}

header {
    display: inline;
}

main {
    padding: 20px;
    overflow: auto;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

nav {
    background-color: rgb(129, 175, 60);
    padding: 1px;
    top: 0px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

aside {
    width: 23%;
    padding-left: 20px;
    float: left;
    position: sticky;
}

.jumbotron {
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: greenyellow;
    
}

.image-header {
    margin-left: 20px;
    flex-basis: 20%;
    object-fit: cover;
    object-position: center;
}

.text-header {
    margin: auto;
    flex-basis: 100%;
    text-align: center;
    font-size: large;
    color: rgb(64, 121, 72);
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

.featured-image {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile header {
    text-align: center;
}

.profile img {
    border-radius: 33px;
    width: 200px;
} 

#content {
    width: 75%;
    float: right;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    .jumbotron {
        display: block;
    }
}